body {
    padding-left: 15px;
}

li {
  color: #C25100;
}

/* h1 a {
  color: #329248;
} */

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}


.carousel-inner .item img,
.carousel-inner .item a img {
    width: 100%;
    /* margin: auto; */
    height: 80%;
  }

#speechButton {
  display: flex;
  justify-content: center;
}
