{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interactive Slideshow Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/InteractiveSlideshowApp.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-header">
      <h1><a href="/">Interactive Slideshow Project</a></h1>
    </div>
    <div class="content container">
      <h4>Authors:</h4>
      <p> <b>Ghazaleh Kazeminejad</b> </p>
      <ul>
        <li>Carousel (click and keyboard controls)</li>
        <li>Voice recognition with Django (Python), Google Speech-to-Text</li>
      </ul>
      <p> <b>Alexandra Koudele</b> </p>
      <ul>
        <li>UI (Sketch)</li>
        <li>Test slides/animations</li>
        <li>Annotations</li>
      </ul>
      <div class="row">
        <div class="col-md-8">
          <p>This app is supposed to be a slideshow with the following properties:</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-8">
          <ul>
            <li>Have a responsive design.</li>
            <li>Controlled with 3 different types of input, including:</li>
            <ul>
              <li>Mouse,</li>
              <li>Keyboard, and</li>
              <li>Speech</li>
            </ul>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <p>
            We used Django web development framework (and Python) to
            be able to use Google Speech API for the speech control part.
            The rest of the project is HTML/CSS/JavaScript, using Bootstrap
            to make sure it's responsive.
          </p>
        </div>
        <div class="col-md-8">
          <h4>Libraries and Resources</h4>
          <ul>
            <li> <a href="https://getbootstrap.com/">Bootstrap </a> </li>
            <li> <a href="https://cloud.google.com/speech-to-text/">Google Speech-to-Text</a> </li>
            <li> <a href="https://www.w3schools.com/bootstrap/bootstrap_ref_js_carousel.asp">Bootstrap JS Carousel (W3Schools)</a> </li>
            <li> <a href="https://www.djangoproject.com/">Django</a> </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          
        </div>
      </div>
    </div>
    <div class="content container">
      <button type="button" class="btn btn-info btn-lg" onclick="window.location.href = '{% url 'slideshow_view' %}';">Go to the Slideshow!</button>
    </div>
  </body>
</html>
