<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Interactive Slideshow Project</title>
  </head>
  <body>
    <p>This app is supposed to be a slideshow with the following properties:</p>
    <ul>
      <li>Have a responsive design.</li>
      <li>Controlled with 3 different types of input, including:</li>
      <ul>
        <li>Mouse,</li>
        <li>Keyboard, and</li>
        <li>Speech</li>
      </ul>
    </ul>
    <p>
      We're using Django web development framework (and Python) to
      be able to use Google Speech API for the speech control part.
      The rest of the project is HTML/CSS/JavaScript, using Bootstrap
      to make sure it's responsive.
    </p>
  </body>
</html>
